.App {
  text-align: center;
  font-family: sans-serif;
}

.modal-open .container-fluid,
.modal-open .container {
  -webkit-filter: blur(2px);
  -moz-filter: blur(2px);
  -o-filter: blur(2px);
  -ms-filter: blur(2px);
  filter: blur(2px);
}

.centrar{
  height: 600px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.text{
  font-family: Arial;
  font-weight: bold;
  text-align: justify;
  position: absolute;
  top: 300%;
  width: 75%;
  z-index: 3;
  margin-left: 30px;
}

.events {
  display: flex;
  justify-content: space-evenly;
}

.naranja{
  font-family: Arial;
  text-transform: uppercase;
  margin: 5px;
  background-color: #E18A07;
  border-color: #E18A07;
  color: black;
}
.naranja:hover{
  margin: 5px;
  background-color: black;
  border-color:black;
  color: #E18A07;
}

.naranjaModal{
  margin-top: 10px;
  font-family: Arial;
  text-transform: uppercase;
  background-color: #E18A07;
  color: black;
  border-color: #C0C0C0;
}
.naranjaModal:hover{
  margin-top: 10px;
  background-color: black;
  border-color:black;
  color: #E18A07;
}

body {
  background: white;
  width: 95%;
  margin: auto;
}

.encabezado {
  width: 100%;
}

.gris {
  width: 80%;
  height: 40px;
  display: block;
  position: absolute;
  z-index: 2;
}

.gris::after {
  padding-bottom: 350px;
  content: "";
  position: absolute;
  right: -20px;
  width: 120%;
  height: 150px;
  background: #C0C0C0;
  transform: skew(40deg);
}

.orange {
  
  background: #E18A07;
  width: 45%;
  right: 0px;
  height: 65px;
  display: block;
  position: absolute;
  z-index: 1;
}

.orange::before {
  
  content: "";
  position: absolute;
  left: -32px;
  width: 65px;
  height: 65px;
  background: #E18A07;
  transform: skew(40deg);
}

.title {
  position: relative;
  perspective: 400;
  padding-left: 17px;
  font-family: Arial;
  font-weight: bold;
  font-size: 52px;
  text-transform: uppercase;
  color: black;
}
.title:before {
  content: '';
  display: block;
  position: absolute;
  height: 100%;
  width: 6px;
  background:#E18A07;
  top: 0;
  left: 0;
  opacity: 0;
  transform: translateX(-150px);
  -webkit-animation: title-border-slide-in 2.15s ease-out forwards;
          animation: title-border-slide-in 2.15s ease-out forwards;
}
.title .title-word {
  opacity: 0;
  transform-origin: bottom center;
  transform: rotateX(-90deg);
}
.title .title-word:nth-child(1) {
  -webkit-animation: roll-in 2.15s 0s ease-out forwards;
          animation: roll-in 2.15s 0s ease-out forwards;
}
.title .title-word:nth-child(2) {
  -webkit-animation: roll-in 2.15s 0.175s ease-out forwards;
          animation: roll-in 2.15s 0.175s ease-out forwards;
}
.title .title-word:nth-child(3) {
  -webkit-animation: roll-in 2.15s 0.35s ease-out forwards;
          animation: roll-in 2.15s 0.35s ease-out forwards;
}
.title .title-word:nth-child(4) {
  -webkit-animation: roll-in 2.15s 0.525s ease-out forwards;
          animation: roll-in 2.15s 0.525s ease-out forwards;
}
@-webkit-keyframes title-border-slide-in {
  0% {
    transform: translateX(-150px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes title-border-slide-in {
  0% {
    transform: translateX(-150px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@-webkit-keyframes roll-in {
  0% {
    transform: rotateX(-90deg);
    opacity: 1;
  }
  100% {
    transform: rotateX(0deg);
    opacity: 1;
  }
}
@keyframes roll-in {
  0% {
    transform: rotateX(-90deg);
    opacity: 1;
  }
  100% {
    transform: rotateX(0deg);
    opacity: 1;
  }
}

  html {
    height: 100%;
  }
  body {
    margin:0;
    padding:0;
    font-family: sans-serif;
    background: linear-gradient(black, white);
  }
  
  .login-box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.904);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
  }
  
  .login-box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #E18A07;
    text-align: center;
  }
  
  .login-box .user-box {
    position: relative;
  }
  
  .login-box .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color:#E18A07;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid#E18A07;
    outline: none;
    background: transparent;
  }
  .login-box .user-box label {
    position: absolute;
    top:0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
  }
  
  .login-box .user-box input:focus ~ label,
  .login-box .user-box input:valid ~ label {
    top: -20px;
    left: 0;
    color: #E18A07;
    font-size: 12px;
  }
  
  .login-box form a {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #E18A07;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px
  }

