.App {
  text-align: center;
  font-family: Arial;
}

.centrar{
  height: 600px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.text{
  font-family: Arial;
  font-weight: bold;
  text-align: justify;
  position: absolute;
  top: 300%;
  width: 75%;
  z-index: 3;
}

.events {
  display: flex;
  justify-content: space-evenly;
}

.naranja{
  font-family: Arial;
  text-transform: uppercase;
  margin: 5px;
  background-color: #E18A07;
  border-color:white;
  color: black;
}
.naranja:hover{
  margin: 5px;
  background-color: black;
  border-color:white;
  color: #E18A07;
}

.naranjaModal{
  margin-top: 10px;
  font-family: Arial;
  text-transform: uppercase;
  background-color: #E18A07;
  color: black;
  border-color: #C0C0C0;
}
.naranjaModal:hover{
  margin-top: 10px;
  background-color: black;
  border-color:black;
  color: #E18A07;
}

body {
  background: white;
  width: 95%;
  margin: auto;
}

.encabezado {
  width: 100%;
}

.gris {
  width: 80%;
  height: 40px;
  display: block;
  position: absolute;
  z-index: 2;
}

.gris::after {
  padding-bottom: 350px;
  content: "";
  position: absolute;
  right: -20px;
  width: 120%;
  height: 150px;
  background: #C0C0C0;
  transform: skew(40deg);
}

.orange {
  
  background: #E18A07;
  width: 45%;
  right: 0px;
  height: 65px;
  display: block;
  position: absolute;
  z-index: 1;
}

.orange::before {
  
  content: "";
  position: absolute;
  left: -32px;
  width: 65px;
  height: 65px;
  background: #E18A07;
  transform: skew(40deg);
}

.title {
  position: relative;
  perspective: 400;
  padding-left: 17px;
  font-family: Arial;
  font-weight: bold;
  font-size: 52px;
  text-transform: uppercase;
  color: black;
}
.title:before {
  content: '';
  display: block;
  position: absolute;
  height: 100%;
  width: 6px;
  background:#E18A07;
  top: 0;
  left: 0;
  opacity: 0;
  transform: translateX(-150px);
  -webkit-animation: title-border-slide-in 2.15s ease-out forwards;
          animation: title-border-slide-in 2.15s ease-out forwards;
}
.title .title-word {
  opacity: 0;
  transform-origin: bottom center;
  transform: rotateX(-90deg);
}
.title .title-word:nth-child(1) {
  -webkit-animation: roll-in 2.15s 0s ease-out forwards;
          animation: roll-in 2.15s 0s ease-out forwards;
}
.title .title-word:nth-child(2) {
  -webkit-animation: roll-in 2.15s 0.175s ease-out forwards;
          animation: roll-in 2.15s 0.175s ease-out forwards;
}
.title .title-word:nth-child(3) {
  -webkit-animation: roll-in 2.15s 0.35s ease-out forwards;
          animation: roll-in 2.15s 0.35s ease-out forwards;
}
.title .title-word:nth-child(4) {
  -webkit-animation: roll-in 2.15s 0.525s ease-out forwards;
          animation: roll-in 2.15s 0.525s ease-out forwards;
}
@-webkit-keyframes title-border-slide-in {
  0% {
    transform: translateX(-150px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes title-border-slide-in {
  0% {
    transform: translateX(-150px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@-webkit-keyframes roll-in {
  0% {
    transform: rotateX(-90deg);
    opacity: 1;
  }
  100% {
    transform: rotateX(0deg);
    opacity: 1;
  }
}
@keyframes roll-in {
  0% {
    transform: rotateX(-90deg);
    opacity: 1;
  }
  100% {
    transform: rotateX(0deg);
    opacity: 1;
  }
}

.classModal{
  background-color:  #C0C0C0;
  justify-content: center;
}

.inputModal {
  width: 100%;
}





input {
  display: block;
  appearance: none;
  outline: 0;
  border: 1px solid fade(white, 40%);
  background-color: fade(white, 20%);
  width: 250px;

  border-radius: 3px;
  padding: 10px 15px;
  margin: 0 auto 10px auto;
  display: block;
  text-align: center;
  font-size: 18px;

  color: white;

  transition-duration: 0.25s;
  font-weight: 300;
}
input:hover {
    background-color: black
  }

  input:focus {
    background-color: white;
    width: 100px;

    /* color: @prim; */
  }

